.categories{
    margin-top: 9rem;
    .category-single{
        border: 1px solid #eaeaea;
        text-align: center;
        margin: 0 1.2rem;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
        .category-img{
            img{
                width: 4rem;
            }
        }
        .category-title{
            margin-top: 1rem;
        }
        
    }
}