.breadcrumb{
    margin-top: 6rem;
    background-color: #F5F7FE;
    padding-top: 0.8rem;
    ul{
        li{
            font-size: 0.9rem;
            font-weight: 500;
            a{
                color: var(--heading-text-color);
            }
            &.active{
                color: var(--main-color);
            }
        }
        .icon{
            font-size: 0.7rem;
            margin-top: 0.3rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            color: #999;
        }
    }
}