.contact{
    .get-touch, .form-section{
        margin-top: 4rem;
        .title{
            color: var(--heading-text-color);
        }
        p{
            font-size: 0.9rem;
            color: var(--text-color);
            margin-top: 1rem;
        }
        
    }
    .get-touch{
        .touch-info{
            margin-top: 3rem;
            .info-box{
                gap: 2rem;
                margin-bottom: 2rem;
                .icon-box{
                    background-color: var(--main-color);
                    font-size: 1.5rem;
                    color: #fff;
                    width: 3rem;
                    height: 3rem;
                    line-height: 3rem;
                    border-radius: 1rem;
                    text-align: center;
                }
                h5{
                    color: var(--heading-text-color);
                    font-weight: 600;
                }
                p{
                    margin-top: 0.4rem;
                    margin-bottom: 0.4rem;
                }
            }
        }
    }
    .form-section{
        margin-top: 4rem;
        form{
            label{
                margin-bottom: 0.6rem;
                margin-top: 1.5rem;
                color: var(--heading-text-color);
                font-weight: 600;
            }
            input{
                margin-right: 1rem;
                color: var(--text-color);
                font-size: 0.9rem;
                height: 2.8rem;
            }
            textarea{
                height: 12rem;
            }
        }
    }
}

.form-control{
    outline: none !important;
    box-shadow: none !important;
}