.events{
    margin-top: 9rem;
    .event-single{
        margin-top: 3rem;
        border: 1px solid #f0efef;
        padding: 1rem;
        border-radius: 1rem;
        .event-img{
            img{
                max-width: 100%;
                border-radius: 0.7rem;
            }
        }
        .event-content{
            margin-left: 1rem;
            margin-top: 1rem;
            .event-info{
                color: var(--text-color)
            }
            .title{
                color: var(--heading-text-color);
                margin-top: 1rem;
                font-weight: bold;
            }
            .event-footer{
                margin-top: 1.5rem;
                button{
                    background-color: var(--heading-text-color);
                    display: inline-block;
                    padding: 0.4rem 1.4rem;
                    border-radius: 0.3rem;
                    font-weight: 500;
                    text-align: center;
                    color: #fff;
                    font-size: 0.9rem;
                    border: 1px solid var(--heading-text-color);
                    transition: 0.5s;
                    &:hover{
                        background-color: #fff;
                        color: var(--heading-text-color);
                    }
                }
                .thecher{
                    margin-left: 2rem;
                    img{
                        width: 2.5rem;
                        border-radius: 50%;
                    }
                    .name{
                        margin-left: 0.7rem;
                        font-weight: bold;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    .custom-button{
        margin-top: 3rem;
    }
}