.detail-rating{
    width: 70%;
    background-color: #F5F7FE;
    padding: 2rem;
    margin-left: 2rem;
    .value-content{
        margin-top: 1rem;
        .progress{
            height: 0.4rem;
            width: 100%;
            margin-right: 1rem;
        }
        .rating-star{
            font-size: 0.8rem;
            .star-svg{
                margin-right: 0.2rem;
            }
        }
        .percent{
            margin-left: 0.6rem;
        }
    }
}